<div class="col-md-6 my-post-card bg-white mx-auto text-center mt-4 w-25 rounded-5">
  <h2 class="h2 fs-2 text-dark pt-4">{{title}}</h2>
  <input type="hidden" id="post-id" value={{id}}>
  <div class="form my-post-form mx-auto">
    </div>
    <div class="form-group text-dark">
      <span class="post-description fs-5">{{description}}</span>
    </div>
    <button class="individualbtn btn btn-secondary mt-4 me-1 mb-4" onclick="window.location.href='/api/users/posts/'">Back</button>
    <button type="button" class="btn individualbtn btn-danger mt-4 ms-1 mb-4" id="delete-btn">Delete</button>
  </div>
</div>

{{!-- pdf below --}}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script src="/js/post.js"></script>