<div class="my-posts-main">
  <div class="my-posts-headline text-white">
    <h2 class="h2 fs-1 text-center">Dashboard</h2>
  </div>
  {{#each posts as |post|}}
  <div class="my-post-card text-dark text-center fs-5 bg-white rounded-5 w-25 pt-2 mx-auto m-4">
    <a class="post-title text-dark fs-3" href="/api/posts/{{post.id}}">{{post.title}}</a>
    <p class="m-2 pb-3">{{post.description}}</p>
  </div>
  {{/each}}
</div>