<body>
  <div class="maincontainer">
    <div class="containera">
      <form>
        <div class="row">
          <h2 style="text-align: center">
            Sign up!
          </h2>
          <div class="vl">
            <span class="vl-innertext">or</span>
          </div>
          <span><img src="" alt="" /></span>
          <form class="form signup-form">
            <div class="form-group">
              <label for="name-signup">Name:</label>
              <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group">
              <label for="email-signup">Email:</label>
              <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
              <label for="password-signup">Password:</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
          </form>
        </div>
    </div>
    </form>
    <div class="bottom-container">
      <div class="row">
        <div class="col">
          <a href="./login" style="color: black" class="btn">Have an account?</a>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="./js/login.js"></script>
  <script src="https://kit.fontawesome.com/1767b88e0c.js" crossorigin="anonymous"></script>
</body>
